<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ object.fdqn }}</h1>

<h3>Active flags</h3>

<table style="width:80%;border: 1px solid black;">
<tr>
    <th>Flag Type</th>
    <th>Valdid from</th>
    <th>Valid to</th>
</tr>
    {% for flag in object.active_flags %}

    <tr style="font-weight:500;border: 1px solid black;">

    <td style="border: 1px solid black;">{{ flag.type_verbose }}</td>
    <td style="border: 1px solid black;">{{ flag.valid_from }}</td>
    <td style="border: 1px solid black;">{{ flag.valid_to }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>