<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active Domains</title>
</head>
<body>
<h1>List of Active Domains</h1>
    {% for domain in active_domains %}

    <li>FDQN:
<a href="/{{domain.pk}}">{{ domain.fdqn }}</a></li>
    <li>Date of creation: {{domain.created}} </li>
    <li>Date of expiration: {{domain.expiration}}</li>
    <li>Date of deletion: {{domain.deleted}}</li>
    <li>Active flags:
        {% for flag in domain.active_flags %}
        <li>{{ flag.type_verbose }}</li>

        {% endfor %}

    </li>
<br>

    {% endfor %}


</ul>
</body>
</html>